<!DOCTYPE html>

<html>
<style>
    body {
        margin: 0;
        overflow: hidden;
    }
</style>

<head>
    <title>carro</title>
    <script type="text/javascript" src="js/libs/three.min.js"></script>   
    <script type="text/javascript" src="js/libs/physi.js"></script>
	<script type="text/javascript" src="js/libs/dat.gui.js"></script>
    <script type="text/javascript" src="js/libs/perlin.js"></script>
    <script type="text/javascript" src="js/libs/socket.io-1.3.7.js"></script>
    <script type="text/javascript" src="js/juego_cliente.js"></script>
	<script type="text/javascript" src="js/crearJuego.js"></script>
	
</head>

<body>
   	<button onclick="joingame()">Join</button>
   	<button onclick="crearTerreno()">crearTerreno</button>
	<div id="viewport"></div>
</body>

</html>
